*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin:0 auto;
    padding:0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: white;
    padding:20px 0;
    border-bottom:1px solid rgb(200, 200, 200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-weight: normal;
    font-size: 22px;
}

.menu{
    width:80%;
    text-align: right;
}

.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 40px;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding:6px 12px;
    color: white;
    border-radius:8px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: white;
}


/*
Section Main
*/

section.main{
    background-image: url(../img/background.jpg);
    padding:70px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main__cta{
    width:100%;
    margin:60px 0;
    text-align: center;
}

.main__cta h2{
    color: #16507b;
    font-size: 40px;
}

.main__cta p{
    color: gray;
    font-size: 19px;
    margin:10px 0;
}

.main__cta button{
    background-color: #007bff;
    display: inline-block;
    padding:8px 30px;
    color: white;
    border-radius:6px;
    font-size: 16px;
    border:0;
    cursor: pointer;
}

.parcerias{
    display: flex;
    flex-wrap: wrap;
}

.parcerias-single{
    border-radius:10px;
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding:50px 20px;
}

.parcerias-single i{
    font-size: 45px;
}

.parcerias-single h2{
    color: #124265;
    margin:10px 0;
    font-size: 20px;
}

.parcerias-single p{
    color: gray;
    font-size: 17px;
    line-height: 25px;
}

section.sobre{
    padding:80px 0;
}

.chamada-sobre{
    width: 100%;
    text-align: center;
}

.chamada-sobre h2{
    color: #124265;
    text-transform: uppercase;
}

.chamada-sobre p{
    font-size: 13px;
    color: gray;
    margin:10px 0;
}

.conteudo-sobre{
    display: flex;
    flex-wrap: wrap;
}

.conteudo-sobre p{
    width:48%;
    margin-right: 2%;
    color: #444444;
}

.conteudo-sobre span{
    display: inline-block;
    width: 100%;
    margin-top:10px;
}

.conteudo-sobre i{
    color: #007bff;
}

.conquista-single{
    width: 22%;
    margin-right: 3%;
    text-align: center;
    color: #124265;
}

.conquista-single h2{
    font-size: 30px;
}

@media screen and (max-width: 768px){
    .parcerias-single{
        width: 100%;
        margin-bottom: 20px;
    }

    .conteudo-sobre p{width:100%; margin-bottom:20px;}
}
